
  <section id="ticketContainer">
    <table>
        <tr>
            <td rowspan="2" class="header-logo w-20">
                <img src="assets/robot.png" alt="TBECK Logo" width="100"><br>

            </td>
            <td colspan="3" class="highlight">ID VIAJERA</td>
            <td rowspan="2" class="qr">
                <img #ticketImage [src]="imagenURL$ | async" alt="Imagen" (load)="showTicket()" style="    width: 150px;
                height: 150px;
                object-fit: cover;">
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td class="highlight">ORDEN DE TRABAJO</td>
            <td class="w-15" colspan="3">{{printerSelect[0].ordenTrabajo}}</td>
            <td class="text-center">FECHA</td>
        </tr>
        <tr>
            <td class="highlight">CLIENTE</td>
            <td class="w-15" colspan="3"></td>
            <td></td>
        </tr>
        <tr>
            <td class="highlight">DESCRIPCIÓN</td>
            <td class="w-15" colspan="3"></td>
            <td class="highlight text-center"># CAJA</td>
        </tr>
        <tr>
            <td class="highlight">NÚMERO DE PARTE</td>
            <td class="w-15" colspan="3">{{printerSelect[0].NumeroParte}}</td>
            <td class="text-center"> {{printerSelect[0].NumeroDeCaja }}</td>
        </tr>
        <tr>
            <td class="highlight">NÚMERO DE PIEZAS</td>
            <td class="w-15" colspan="3">{{printerSelect[0].NumeroPzs }}</td>
            <td class="highlight text-center">TURNO</td>
        </tr>
        <tr>
            <td class="highlight">PESO NETO KG:</td>
            <td class="w-15" colspan="3"></td>
            <td></td>
        </tr>
        <tr>
            <td class="highlight">OPERADOR:</td>
            <td colspan="3"></td>
            <td class="qr">
                <img src="assets/image.png" alt="QR Informativo" width="width: 150px;
                height: 150px;
                object-fit: cover;">

            </td>
        </tr>
        <tr>
            <td rowspan="2" colspan="4" class="turnos">
                <img #ticketImage [src]="imagenURL$ | async" alt="Imagen" (load)="showTicket()" style="width: auto;
                height: auto;
                object-fit: cover;">
            </td>
            <td>SELLO DE AUTORIZACIÓN</td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td colspan="4">LIBERADO POR:</td>
            <td></td>
        </tr>
    </table>
  </section>
