<div class="justify-content-center container">
    <p>{{ printer }} </p>
    <div *ngFor="let printer of printerSelect">
      <p>{{ printer.value }}</p>
      <div id="print-section" style="width: 15mm; height: 14mm; overflow: hidden;">
        <img #ticketImage [src]="imagenURL$ | async" alt="Imagen" (load)="showTicket()" style="width: 100%; height: auto;">
    </div>

    </div>
  </div>



  <!-- <div id="print-section">
   <div>prueba</div>
  </div> -->

  <button style="color: aqua;" printSectionId="print-section" [useExistingCss]="true" ngxPrint>Imprimir</button>
